.section-map {
  padding: 180px 0;
  position: relative;

  &::before {
    content: "V";

    @include decorNumber;

    top: 180px;
    right: calc(50% + 555px);
    transform: translate(50%, 0%);
    line-height: 1;
    z-index: -1;
  }

  @include mediaTablet {
    padding: 80px 0;
  }
}

.section-map__title {
  font-family: $font-accent;
  color: $accent;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 88px;

  @include mediaTablet {
    margin-bottom: 48px;
  }
}

.section-map__map {
  height: 358px;
  background: #626262;
}